.main-container {
  width: 100%;
  padding: 45px 3.9vw 140px;
  text-align: center;
}

.main-header {
  display: grid;
  width: 100%;
  height: 100%;
  background-image: url("/img/asisde/banner1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.main-header-text {
  text-align: start;
  font-weight: 700;
  font-size: 70px;
  line-height: 130%;
  padding: 7.6vw 0 2.6vw 5.8vw;
}

.main-header-text-small {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  padding: 2.6vw 0 0.1vw;
}

.main-header-block {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 473px;
  gap: 30px;
  padding: 0.1vw 0 2.1vw;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
}

.main-header-block-text {
  display: flex;
}

.main-header-block-text-span {
  display: flex;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  padding-top: 25px;
  padding-left: 6px;
}

@media (max-width: 1549px) {

  .main-container {
    padding: 30px 3.9vw 100px;
  }

  .main-header {
    background-image: url("/img/asisde/banner1024.jpg");
    margin-bottom: 22px;
    min-width: 640px;
  }
}

@media (max-width: 1024px) {

  .main-container {
    padding: 25px 3.9vw 80px;
  }

  .main-header-text {
    font-size: 40px;
    line-height: 130%;
    padding: 7.81vw 0 3.03vw 7.81vw;
  }

  .main-header-text-small {
    padding: 3.03vw 0 0.49vw;
  }

  .main-header-block {
    max-width: 314px;
    gap: 20px;
    padding: 0.49vw 0 3.52vw;
    font-size: 40px;
    align-items: flex-start;
  }

  .main-header-block-text {
    display: flex;
  }

  .main-header-block-text-span {
    font-size: 20px;
    line-height: 69%;
  }
}

/* @media (max-width: 934px) {

  .main-header-text {
    font-size: 30px;
    line-height: 130%;
  }

  .main-header-block {
    font-size: 30px;
    justify-content: center;
  }

  .main-header-block-text-span {
    font-size: 16px;
  }

  .main-header-block-text-span {
    font-size: 12px;
  }

} */

@media (max-width: 540px) {
  .main-header {
    background-image: url("/img/asisde/banner320.jpg");
    margin-bottom: 30px;
    max-width: 700px;
    min-width: 180px;
  }

  .main-header-text {
    padding: 15.63vw 29px 94.5px;
    font-size: 22px;
  }

  .main-header-text-small {
    font-size: 8px;
    padding: 94.5px 108px 3px 110px;
  }

  .main-header-block {
    padding: 3px 56px 30px 57px;
    font-size: 20px;
    align-content: center;
  }

  .main-header-block-text-span {
    font-size: 12px;
    align-self: center;
    padding-top: 5px;
  }

}