.header-container {
  width: 100%;
  padding: 27px 3.9vw 45px;
  text-align: center;
}

.header-nav-bar {
  display: grid;
  grid-template: 1fr /190px 151px minmax(600px, 757px) minmax(230px, 354px);
  justify-content: space-between;
  align-items: center;
}

.header-nav-bar-block {
  display: flex;
  justify-content: end;
}

.header-nav-bar-block-list {
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #2D2D2D;
}

.header-nav-bar-block-list-item-svg {
  margin: 0 auto;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
}

.svg-1 {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 12C15.315 12 18 9.315 18 6C18 2.685 15.315 0 12 0C8.685 0 6 2.685 6 6C6 9.315 8.685 12 12 12ZM12 15C7.995 15 0 17.01 0 21V24H24V21C24 17.01 16.005 15 12 15Z' fill='%232D2D2D'/%3e%3c/svg%3e ");
}

.svg-2 {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.5 24C7.85 24 6.515 25.35 6.515 27C6.515 28.65 7.85 30 9.5 30C11.15 30 12.5 28.65 12.5 27C12.5 25.35 11.15 24 9.5 24ZM0.5 0V3H3.5L8.9 14.385L6.875 18.06C6.635 18.48 6.5 18.975 6.5 19.5C6.5 21.15 7.85 22.5 9.5 22.5H27.5V19.5H10.13C9.92 19.5 9.755 19.335 9.755 19.125L9.8 18.945L11.15 16.5H22.325C23.45 16.5 24.44 15.885 24.95 14.955L30.32 5.22C30.44 5.01 30.5 4.755 30.5 4.5C30.5 3.675 29.825 3 29 3H6.815L5.405 0H0.5ZM24.5 24C22.85 24 21.515 25.35 21.515 27C21.515 28.65 22.85 30 24.5 30C26.15 30 27.5 28.65 27.5 27C27.5 25.35 26.15 24 24.5 24Z' fill='%232D2D2D'/%3e%3c/svg%3e ");
}

.svg-3 {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='29' viewBox='0 0 30 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15 28.025L12.825 26.045C5.1 19.04 0 14.42 0 8.75C0 4.13 3.63 0.5 8.25 0.5C10.86 0.5 13.365 1.715 15 3.635C16.635 1.715 19.14 0.5 21.75 0.5C26.37 0.5 30 4.13 30 8.75C30 14.42 24.9 19.04 17.175 26.06L15 28.025Z' fill='%232D2D2D'/%3e%3c/svg%3e ");
}

.header-nav-bar-logo-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #2D2D2D;
}

.header-nav-bar-logo-text-span {
  color: #3670C7;
}

.header-nav-bar-menu-button {
  position: relative;
  padding: 9px 8px 12px 61px;
  background: #3670C7;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
}

.header-nav-bar-menu-button::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2903_14)'%3e%3cpath d='M3 18H9V16H3V18ZM3 6V8H21V6H3ZM3 13H15V11H3V13Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2903_14'%3e%3crect width='24' height='24' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  position: absolute;
  width: 55px;
  height: 55px;
  background-position: center;
  background-repeat: no-repeat;
  left: 1px;
  top: 0px;
}

.header-nav-bar-search {
  position: relative;
}

.header-nav-bar-search-form-input {
  width: 100%;
  height: 54px;
  position: relative;
  background: #EFEFEF;
  border-radius: 30px;
  border: none;
}

.header-nav-bar-search-form-input::placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #8F8F8F;
  padding: 15px 0 18px 40px;
}


.header-nav-bar-search-form-button {
  position: absolute;
  background: #3670C7;
  border-radius: 30px;
  border: none;
  padding: 13.5px 37.26px 14.27px 37.5px;
  height: 54px;
  width: 101px;
  color: #FFFFFF;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2903_7)'%3e%3cpath d='M23.25 21H22.065L21.645 20.595C23.115 18.885 24 16.665 24 14.25C24 8.865 19.635 4.5 14.25 4.5C8.865 4.5 4.5 8.865 4.5 14.25C4.5 19.635 8.865 24 14.25 24C16.665 24 18.885 23.115 20.595 21.645L21 22.065V23.25L28.5 30.735L30.735 28.5L23.25 21ZM14.25 21C10.515 21 7.5 17.985 7.5 14.25C7.5 10.515 10.515 7.5 14.25 7.5C17.985 7.5 21 10.515 21 14.25C21 17.985 17.985 21 14.25 21Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2903_7'%3e%3crect width='36' height='36' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  top: 0px;
  right: 1px;
}



@media (max-width: 1549px) {

  .header-container {
    width: 100%;
    padding: 34px 3.9vw 30px;
  }

  .header-nav-bar {
    display: grid;
    justify-content: space-between;
    grid-template: 1fr 1fr /minmax(190px, 196px) 1fr;
    gap: 34px;
  }

  .header-nav-bar-logo {
    display: flex;
  }

  .header-nav-bar-menu {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .header-nav-bar-search {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .header-nav-bar-block {
    justify-content: end;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .header-nav-bar-block-list {
    width: 100%;
    max-width: 294px;
  }
}

@media (max-width: 934px) {

  .header-container {
    width: 100%;
    padding: 25px 3.9vw 25px;
  }

  .header-nav-bar-logo-text {
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.06em;
  }


  .header-nav-bar-block-list {
    width: 100%;
    max-width: 221px;
  }

  .header-nav-bar-block-list-item-svg {
    width: 30px;
    height: 30px;
  }

  .header-nav-bar-block-list-item-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
  }

  .header-nav-bar-menu-button {
    padding: 7px 21px 11px 49px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  .header-nav-bar-menu-button::before {
    width: 24px;
    height: 24px;
    left: 21px;
    top: 8px;
  }

  .header-nav-bar-search-form-input {
    height: 42px;
  }

  .header-nav-bar-search-form-input::placeholder {
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    padding: 11px 0 15px 30px;
  }

  .header-nav-bar-search-form-button {
    height: 42px;
    width: 82px;
    padding: 9.75px 30.39px 10.39px 29.75px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2903_7)'%3e%3cpath d='M23.25 21H22.065L21.645 20.595C23.115 18.885 24 16.665 24 14.25C24 8.865 19.635 4.5 14.25 4.5C8.865 4.5 4.5 8.865 4.5 14.25C4.5 19.635 8.865 24 14.25 24C16.665 24 18.885 23.115 20.595 21.645L21 22.065V23.25L28.5 30.735L30.735 28.5L23.25 21ZM14.25 21C10.515 21 7.5 17.985 7.5 14.25C7.5 10.515 10.515 7.5 14.25 7.5C17.985 7.5 21 10.515 21 14.25C21 17.985 17.985 21 14.25 21Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2903_7'%3e%3crect width='36' height='36' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  }

}

@media (max-width: 540px) {
  .header-container {
    width: 100%;
    padding: 20px 3.9vw 20px;
  }

  .header-nav-bar {
    grid-template: 1fr 1fr 1fr/1fr 1fr;
  }

  .header-nav-bar-logo {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .header-nav-bar-logo-text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.06em;
  }

  .header-nav-bar-menu-button {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 12px;
    line-height: 150%;
    padding: 5px 14px 7px 31px;
    border-radius: 4px;
  }

  .header-nav-bar-menu-button::before {
    width: 14px;
    height: 14px;
    left: 15px;
    top: 8px;
  }

  .header-nav-bar-search {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .header-nav-bar-block {
    grid-row: 2/3;
    grid-column: 2/3;
    gap: 6.25vw;
  }

  .header-nav-bar-block-list-item-text {
    display: none;
  }
}